{% load staticfiles %}
<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <!-- 1. Link to jQuery (1.8 or later), -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB --> 
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css?{% now 'U' %}"/>
    <script src="/static/js/main.js?{% now 'U' %}"></script>
    <title>License bug</title>
    <script>
       
        $(function(){  
            //로그인 팝업 
            $(".popup_open").click(function(){ 
                var window = $(this).attr("pop_nm");
                $(".bg").show();
                $(".pop_up[pop_nm='"+window+"']").show(); 
            }); 
            
            $(".close").click(function(){ 
                $(".bg").hide();
                $(".pop_up").hide();
            });

            
            var locate = location.pathname;   
            if(locate.indexOf("new")>0||locate.indexOf("edit")>0){
                    $(".float_btn").hide();
            }else{
                $(".float_btn").click(function(){
                 location.href="/post/new/";
                });
            }
            
            var rlist = document.getElementsByClassName("rate");
            for(i of rlist){
                var r = i.getAttribute("value");
                var n = i.getAttribute("no"); 
                var difficulty = ["엄청 쉬웠어요","쉬웠어요","보통이에요","어려웠어요","매우어려웠어요"];
                $("p[no='"+n+"']").html(difficulty[r-1]);
            } 
            
            $(".sel_btn").click(function(){
                $(".sel_wrap").toggle();
            });
            $(".sel_li").click(function(){
                $(".sel_btn>div").text($(this).text());
                $(".sel_wrap").toggle();
            });
            $("a[href='#myinfo']").click(function(){
                var status = $("#slide_menu").css("display");
                if(status == "none"){
                    $("#slide_menu").show().animate({
                        left:"0", 
                    },1000,function(){

                    });
                }else{
                    $("#slide_menu").animate({
                        left:"1000", 
                    },1000,function(){
                        $("#slide_menu").hide();
                    });  
                }
            });
        });

       
    </script>
</head>
<body>

    <div class="bg"></div> 
    <header>
        <a href="/main"><img class="center logo" src="/static/img/logo.png"></a>
        <a href="#back" class="left" onclick="_back()" ><img src="/static/img/back.png"></a>
        <a href="#myinfo" class="right"><img src="/static/img/myinfomenu.png"></a>
    </header>
    {% block layoutblock %}
    {% endblock %}  
    <img class="float_btn" src="/static/img/write.png">

    <div id="slide_menu" class="slide">
            <h1 class="red">Account</h1>
            <div class="inline-wrap">
                <div class="inline">
                   <img class="user-img" src="/static/img/pro.png">
                </div>
                <div class="inline">
                   <b>이름 </b>
                   <p>이메일</p>
                </div>
            </div>
            <ul class="center"> 
                <li class="sm_btn" func="0">
                    <img class="logo" src="/static/img/9/check.png" alt="">
                    Change your interest
                    <ul > 
                        <li class="tag" onclick="chk_i(this,'tag_active')">경영</li>
                        <li class="tag" onclick="chk_i(this,'tag_active')">물류</li>
                        <li class="tag" onclick="chk_i(this,'tag_active')">화학</li> 
                        <li class="tag" onclick="chk_i(this,'tag_active')">건축</li>
                        <li class="tag" onclick="chk_i(this,'tag_active')">전기</li>
                        <li class="tag" onclick="chk_i(this,'tag_active')"> 컴퓨터</li> 
                    </ul>
                </li>
                <li class="sm_btn" func="1">
                    <img class="logo" src="/static/img/9/check.png" alt="">
                    Edit my information
                </li>
                <li class="sm_btn" func="2">
                    <img class="logo" src="/static/img/9/check.png" alt="">
                    Manage my reivew
                </li>
                <li class="sm_btn" func="3">
                    <img class="logo" src="/static/img/9/check.png" alt="">
                    Widthdraw my account
                </li>
            </ul>
        </div>
    <footer>
        <img class="center bottom" src="/static/img/create.png">
    </footer> 
 
</body>
</html>