<!-- <!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h2>회원가입 페이지</h2>
        <form method = "POST" action="{%url 'signup'%}">
            {% csrf_token %}
            Username:
            <br>
            <input name="username" type="text" value="">
            <br>
            Password:
            <br>
            <input name="password1" type="password" value="">
            <br>
            Confirm Password:
            <br>
            <input name="password2" type="password" value="">
            <br>
            Email:
            <br>
            <input name="email" type="email" value="">
            <br>
            <br>
            <input type="submit" value="sign up">
        </form>
        
    </body>
</html> -->