{% extends 'nh_layout.html' %}
{% block layoutblock %}
<style>
    @media (max-width: 610px) {    
        html{
            width:100%;
            height:100%;
            overflow: hidden;  
        }
    }
</style>
<script>
  
    function chk_i(e){
        console.log(e.classList);
            if(e.classList.contains("active")) e.classList.remove("active");
            else {
                e.classList.add("active"); 
            }
    }

    function f_submit(e){
        i_str = [];
        inp = document.getElementById("user_interest");
        chked_i = document.getElementsByClassName("active");
        if(chked_i.length != 0){
             for(i=0;i<chked_i.length;i++){
                 i_str[i] = chked_i[i].textContent;
             }
             inp.setAttribute("value",i_str.join(","));
        }else inp.setAttribute("value","");

        document.forms[0].submit();
    }

    
   
</script>

<section id="sign_up2"> 
    <img src="/static/img/leafup.png" class="top_bg">
    <!--최초 회원 가입일떄 관심사 고르게 하는 페이지 -->
    <h1>무엇을<br/><strong>공부</strong>하고 있나요?</h1>
     
    {%if interest %}
    {% for i in interest %}
    <a href="#"  class="cate">{{i.name}}</a>
    {% endfor %}
    {% endif %}
    <ul>
        <li class="cate"><a href="#" onclick="chk_i(this)">경영</a></li>
        <li class="cate"><a href="#" onclick="chk_i(this)">물류</a></li>
        <li class="cate"><a href="#" onclick="chk_i(this)">화학</a></li> <br/>
        <li class="cate"><a href="#" onclick="chk_i(this)">건축</a></li>
        <li class="cate"><a href="#" onclick="chk_i(this)">전기</a></li>
        <li class="cate"><a href="#" onclick="chk_i(this)">컴퓨터</a></li> 
    </ul>    
    <h2 onclick="f_submit()">넘어가기</h2>
    <form action="/main/" method="POST">
        {% csrf_token %}
        <input type="hidden" id="user_id" name="username"> <!-- 앞에 회원 가입 페이지에서 아이디 넘겨 받아야됨-->
        <input type="hidden" id="user_interest" name="user_interest">
        <input type="submit" value="확인">
    </form>
    <!--<a href="#" class= "inp active" onclick="f_submit()">다음</a>-->

    <img src="/static/img/leafdown.png" class="bottom_bg">
</section>
{% endblock %} 